{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather</title>
        <link rel="webiste icon" type="png" href="{% static 'image/logo.jpeg'%}"></link>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href='{%static 'css/style.css'%}' rel='stylesheet'></link>
        <style>
            body{
                background-image: url({% static "image/ice.jpg"%});
                min-height:100vh;
                margin:0;
                background-position:center;
                background-repeat:no-repeat;
                background-size:cover;
               
            }
        </style>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-3'></div>
                <div class='col-lg-1'></div>
                <div class='col-lg-4' style="background-image: url({% static "image/ice.jpg"%});" >
                    <h3>WEATHER</h3>
                    <div class='title'>
                  
                       <form method='POST'>
                        {% csrf_token %}                     
                            <input type='text' required name='city' class='form-control'placeholder='Enter City'>
                            <button type='submit'><i class='bi bi-search'></i></button>
                      </form>
                    </div>
                    <div class='con'>
                      <h3 class='city'>{{city}}</h3>
                      <span class='des'>{{des}}</span><img src='http://openweathermap.org/img/wn/{{icon}}@2x.png' class='icon'>
                      <div class='images'>
                        {% if main == 'Haze' %}
                        <img src='{% static 'image/haze.gif'%}' alt='haze'class='main'>
                        {% elif main == 'Clear' %}
                        <img src='{% static 'image/thumbsup.gif'%}' alt='clear'class='main'>
                        {% elif main == 'Clouds' %}
                        <img src='{% static 'image/clouds.gif'%}' alt='clouds'class='main'>
                        {% elif main == 'Rain' %}
                        <img src='{% static 'image/rain.gif'%}' alt='rain' class='main'>
                        {% elif main == 'Sun' %}
                        <img src='{% static 'image/hot.gif'%}' alt='hot' class='main'>
                        {% elif main == 'Wind' %}
                        <img src='{% static 'image/windy.gif'%}' alt='wind' class='main'>
                        {% elif main == 'Thunderstrom' %}
                        <img src='{% static 'image/pengu-pudgy.gif'%}' alt='thunderstrom' class='main'>
                        {% elif main == 'cold' %}
                        <img src='{% static 'image/cold.gif'%}' alt='cold' class='main'>
                        {% elif main == 'Drizzle' %}
                        <img src='{% static 'image/drizzle.gif'%}' alt='thunderstrom' class='main'>
                        {% else %}
                        <img src='http://openweathermap.org/img/wn/{{icon}}@2x.png' class='main'>
                        {% endif%}
                      </div>
                      <div class='foot'>
                        <div>                       
                         <h6 class='temp'><i class="bi bi-thermometer-sun mx-2"></i>{{temp}}°C</h6>
                         <h6 class='temp'><i class="bi bi-moisture mx-2"></i>{{humidity}}%</h6>
                        </div>
                      
                      <small class='day'>{{day}}</small>
                      </div>

                    </div>
                    <div>
                        {% if error %}
                        <strong >{{error}}</strong>
                        {% endif %}
                        
                     </div>
                     
                        
                </div>
                <div class='col-lg-3'></div>
                
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>